html, body {
    height: 100%;
    min-height: 500px;
    margin: 0;
}

.view {
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.header1, .header2, .container {
    display: block;
    width: 100%;
    min-width: 1000px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

input[type=text] {
    height: 32px;
    border: 1px solid #DBDBDB;
}

input[type=text]:hover {
    border: 1px solid #B6B6B6;
}

input[type=text]:focus {
    border: 1px solid #4385F4;
}

#squarebut {
    position: absolute;
    top: 8px;
    right: 100px;
    width: 20px;
    height: 20px;
}

#settings {
    width: 20px;
    height: 20px;
}

#logo {
    padding-top: 5px;
    padding-right: 15px;
}

#zoom {
    margin-left: -5px;
}

.container {
    width: 65%;
    min-width: 500px;
    margin: 15px 0 5px 120px;
    text-align: left;
    padding-bottom: 65px;
}

.content {
    margin: 20px auto;
}

.container > div {
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #545459;
}

.results {
    color: #1A0DAB;
    font-weight: normal;
    font-size: 18px;
}

.results:hover{
    text-decoration: underline;
}

.greeny {
    color: #006621;
    font-size: 14px;
}

#speed {
    font-size: small;
    margin: 20px auto;
}

.f1l > a {
    color: #A5A5A5;
    padding-left: 20px;
}

.f1l > a:hover {
    color: #333333;
}

.f1l {
    display: inline-block;
    padding: 0 0 15px 100px;
}

.footer {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    padding-top: 25px;
    bottom: 0;
    min-width: 1000px;
    position: absolute;
    z-index: 2;
    background-color: #F1F1F1;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #A5A5A5;
}

.header1 {
    background-color: #F1F1F1;
}

.header2 {
    height: 50px;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}

.h1l, .h2l {
    display: inline-block;
    width: 79%;
    text-align: left;
}

.h1r, .h2r {
    display: inline-block;
    width: 19%;
    text-align: right;
}

.he1, .he2, .h2l > div, .h2r > div {
    display: inline-block;
    vertical-align: text-top;
    margin: 10px auto;
}

.tt:active {
    text-decoration: underline;
    color: #4285F4;
    font-weight: bold;
}

#blue {
    width: 80px;
    height: 35px;
    background-color: #4285F4;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    margin: 8 auto;
}

#blueone {
    margin: 8px auto;
}

a {
    text-decoration: none;
}

.h2l {
    margin-left: 24px;
    margin-top: 5px;
    font-family: arial, sans-serif;
    font-size: small;
    color: #777;
}

.h2l > div {
    padding-right: 30px;
}

.tt:first-child {
    color: #4285F4;
    font-weight: bold;
}

.tt:nth-child(2):hover, .tt:nth-child(3):hover, .tt:nth-child(4):hover, .tt:nth-child(5):hover, .tt:nth-child(6):hover {
    color: black;
}

.tt:nth-child(7) {
    position: absolute;
    top: 55px;
    width: 80px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding-right: 0;
    padding-left: 5px;
    padding-top: 5px;
}

.tt:nth-child(7):hover {
    background-color: #F3F3F3;
    border: 1px solid #C6C6C6;
}

.square {
    width: 95%;
    border: 1px solid #EBEBEB;
    padding: 20px;
    box-shadow: 2px 2px 5px #EBEBEB;
}

.grey {
    font-family: arial, sans-serif;
    font-size: 18px;
    color: #808080;
    margin-bottom: 5px
}

.further {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

.fbr, .fbl {
    color: #1A0DAB;
    line-height: 25px;
}

.fbr:hover, .fbl:hover {
    text-decoration: underline;
}

.right, .left {
    display: inline-block;
    padding-right: 30px;
}