html, body {
    height: 100%;
    min-height: 500px;
    margin: 0;
}

.view {
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.header1, .header2, .container {
    display: block;
    width: 100%;
    min-width: 1150px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

input[type=text] {
    height: 32px;
    border: 1px solid #DBDBDB;
}

input[type=text]:hover {
    border: 1px solid #B6B6B6;
}

input[type=text]:focus {
    border: 1px solid #4385F4;
}

#squarebut {
    display: inline-block;
    margin-top: 18px;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

#blue {
    display: inline-block;
    width: 70px;
    height: 30px;
    background-color: #4285F4;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    padding-bottom: 2px;
    margin: 0 auto;
    margin-top: 12px;
}

#blueone {
    margin: 8px auto;
}

#settings {
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 5px 25px 5px 25px;
    background-color: #F3F3F3;
    border:1px solid #C6C6C6;
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 12px;
}

#logo {
    padding-top: 5px;
    padding-right: 15px;
}

#zoom {
    margin-left: -5px;
}

.container {
    width: 47%;
    min-width: 500px;
    margin: 15px 0 5px 120px;
    text-align: left;
    padding-bottom: 65px;
}

.content {
    margin: 20px auto;
}

.container > div {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #545459;
}

.results {
    color: #1A0DAB;
    font-weight: normal;
    font-size: 18px;
}

.results:hover{
    text-decoration: underline;
}

.greeny {
    color: #006621;
    font-size: 14px;
}

#speed {
    font-size: small;
    margin: 20px auto;
}

.f1l > a {
    color: #A5A5A5;
    padding-left: 20px;
}

.f1l > a:hover {
    color: #333333;
}

.f1l {
    display: inline-block;
    padding: 0 0 15px 100px;
}

.footer {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    padding-top: 25px;
    bottom: 0;
    min-width: 1100px;
    position: absolute;
    z-index: 2;
    background-color: #F1F1F1;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #A5A5A5;
}

.header1 {
    width: 100%;
    min-width: 1100px;
    background-color: #F1F1F1;
}

.header2 {
    width: 100%;
    min-width: 1100px;
    height: 50px;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}

.h1l {
    display: inline-block;
    width: 69%;
    text-align: left;
}

.h1r {
    display: inline-block;
    width: 29%;
    text-align: right;
}

.h2l {
    display: inline-block;
    float: left;
    position: relative;
    font-family: arial, sans-serif;
    font-size: small;
    color: #777;
}

#all, #images, #shopping, #videos, #news, #more, #searchtools {
    display: inline-block;
    margin-top: 10px;
}

#all, #images, #shopping, #videos, #news, #more {
    padding: 2px 8px 0 8px;
    height: 45px;
    margin-top: 0;
    line-height: 45px;
    vertical-align: middle;
}

#all {
    margin-left: 120px;
    color: #4285F4;
    font-weight: bold;
    border-bottom: 2px solid #4285F4;
}

#images, #shopping, #videos, #news, #more {
    margin-left: 20px;
}

#searchtools {
    margin-left: 35px;
    padding: 6px 8px 4px 8px;
    border: 1px solid transparent;
}

.h2r {
    display: inline-block;
    float: right;
    position: relative;
}

.he1, .he2 {
    display: inline-block;
    vertical-align: text-top;
    margin: 10px auto;
}

a {
    text-decoration: none;
}

.tt:nth-child(2):hover, .tt:nth-child(3):hover, .tt:nth-child(4):hover, .tt:nth-child(5):hover, .tt:nth-child(6):hover {
    color: black;
}

#searchtools:hover {
    background-color: #F3F3F3;
    border: 1px solid #C6C6C6;
    width: 80px;
    height: 20px;
    border-radius: 3px;
}

.square {
    width: 95%;
    border: 1px solid #EBEBEB;
    padding: 20px;
    box-shadow: 2px 2px 5px #EBEBEB;
}

.grey {
    font-family: arial, sans-serif;
    font-size: 18px;
    color: #808080;
    margin-bottom: 5px
}

.further {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

.google1 {
    display: block;
    text-align: center;
    min-width: 400px;
    margin: 50px 120px 50px 120px;
    width: 50%;
    height: 40px;
}

#sl, #s1, #s2, #s3, #s4, #s5, #sr {
    display: inline-block;
}

.sl {
    background: url(nav_logo.png) no-repeat;
    background-position: 0 0;    
    width: 53px;
    height: 40px;
    float: right;
}

.s1, .s3, .s4, .s5 {
    background: url(nav_logo.png) no-repeat;
    background-position: -74px 0;    
    width: 20px;
    height: 40px;
    float: right;
}

.s2 {
    background: url(nav_logo.png) no-repeat;
    background-position: -53px 0;    
    width: 20px;
    height: 40px;
    float: right;
}

.sr {
    background: url(nav_logo.png) no-repeat;
    background-position: -97px 0;    
    width: 75px;
    height: 40px;
    float: left;
}

.pr, .p1, .p2, .p3, .p4, .p5 {
    display: block;
    clear: right;
}

.pr {
    margin-right: 30px;
}

.pn  {
    display: block;
    margin-left: 40px;
}

.google1 span {
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #4D4FBB;
}

.google1 span:hover {
    text-decoration: underline;
}

.fbr, .fbl {
    color: #1A0DAB;
    line-height: 25px;
}

.fbr:hover, .fbl:hover {
    text-decoration: underline;
}

.right, .left {
    display: inline-block;
    padding-right: 30px;
}